.registration-wrapper
  .registration-main
    .registration-main__container
      .registration-main__container__left
        .registration-main__container__left__title
          新規登録
        .registration-main__container__left__image
          .registration-main__container__left__image__first
            .registration-main__container__left__image__first__right
              = image_tag("registration-page1", width: "250px")
            .registration-main__container__left__image__first__left
              = image_tag("registration-page2", width: "250px")
          .registration-main__container__left__image__second
            = image_tag("sansyamendan_boy", width: "300px")
      .registration-main__container__right
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .registration-main__container__right__box
            .registration-main__container__right__box__form
              .registration-main__container__right__box__form__label
                = f.label :last_name
              .registration-main__container__right__box__form__input
                = f.text_field :last_name, placeholder: '例) 坂本', class: 'registration-input'
            .registration-main__container__right__box__form
              .registration-main__container__right__box__form__label
                = f.label :first_name
              .registration-main__container__right__box__form__input
                = f.text_field :first_name, placeholder: '例) 龍馬', class: 'registration-input'
            .registration-main__container__right__box__form
              .registration-main__container__right__box__form__label
                = f.label :メールアドレス
              .registration-main__container__right__box__form__input
                = f.email_field :email, class: 'registration-input'
            .registration-main__container__right__box__form
              .registration-main__container__right__box__form__label
                = f.label :パスワード
                %i (英数字8文字以上)
              .registration-main__container__right__box__form__input
                = f.password_field :password, autocomplete: "off", class: 'registration-input'
            .registration-main__container__right__box__form
              .registration-main__container__right__box__form__label
                = f.label :パスワード（確認）
              .registration-main__container__right__box__form__input
                = f.password_field :password_confirmation, autocomplete: "off", class: 'registration-input'
            .registration-main__container__right__box__form
              .registration-main__container__right__box__form__label
                = f.label :"生徒　保護者　講師"
              .registration-main__container__right__box__form__input
                = f.collection_select :user_status_id, UserStatus.all , :id, :name, {prompt: '---'}, class: 'registration-select'
            .registration-main__container__right__box__btns__submit
              = f.submit "新規登録", class: 'registration-btn'




-# .signup-wrapper
-#   .signup-main
-#     .signup-main__container
-#       .signup-main__container__top
-#         新規登録
-#       = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#         .field
-#           .field-label
-#             = f.label :last_name
-#           .field-input
-#             = f.text_field :last_name
-#         .field
-#           .field-label
-#             = f.label :first_name
-#           .field-input
-#             = f.text_field :first_name
-#         .field
-#           .field-label
-#             = f.label :email
-#           .field-input
-#             = f.email_field :email
-#         .field
-#           .field-label
-#             = f.label :password
-#             %i (英数字8文字以上)
-#           .field-input
-#             = f.password_field :password, autocomplete: "off"
-#         .field
-#           .field-label
-#             = f.label :password_confirmation
-#           .field-input
-#             = f.password_field :password_confirmation, autocomplete: "off"
-#         .field-label
-#           = f.label :user_status_id
-#         .field-input
-#           = f.collection_select :user_status_id, UserStatus.all , :id, :name, {prompt: '---'}, class: 'form'
-#         .actions
-#           = f.submit "Create Account", class: 'btn'