.registration-wrapper
  .registration-main
    .registration-main__container
      .registration-main__container__left
        .registration-main__container__left__title
          新規登録

        .registration-main__container__left__session
          = link_to "ログインページへ", new_user_session_path
          
      .registration-main__container__right
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .registration-main__container__right__box
            .registration-main__container__right__box__form
              .registration-main__container__right__box__form__label
                = f.label :last_name
              .registration-main__container__right__box__form__input
                = f.text_field :last_name, placeholder: '例) 坂本', class: 'registration-input'
            .registration-main__container__right__box__form
              .registration-main__container__right__box__form__label
                = f.label :first_name
              .registration-main__container__right__box__form__input
                = f.text_field :first_name, placeholder: '例) 龍馬', class: 'registration-input'
            .registration-main__container__right__box__form
              .registration-main__container__right__box__form__label
                = f.label :メールアドレス
              .registration-main__container__right__box__form__input
                = f.email_field :email, class: 'registration-input'
            .registration-main__container__right__box__form
              .registration-main__container__right__box__form__label
                = f.label :パスワード
                %i (英数字8文字以上)
              .registration-main__container__right__box__form__input
                = f.password_field :password, autocomplete: "off", class: 'registration-input'
            .registration-main__container__right__box__form
              .registration-main__container__right__box__form__label
                = f.label :パスワード（確認）
              .registration-main__container__right__box__form__input
                = f.password_field :password_confirmation, autocomplete: "off", class: 'registration-input'
            .registration-main__container__right__box__form
              .registration-main__container__right__box__form__label
                = f.label :"生徒　保護者　講師"
              .registration-main__container__right__box__form__input
                = f.collection_select :user_status_id, UserStatus.all , :id, :name, {prompt: '---'}, class: 'registration-select'
            .registration-main__container__right__box__btns__submit
              = f.submit "新規登録", class: 'registration-btn'