.mypage-wrapper
  = render "header"
  .mypage-main
    - if current_user.user_status_id == "1"
      .mypage-main__school
        .student-container
          - current_user.students.each do |student|
            .student-container__box.myself
              = link_to student_reports_path(student) do
                .student-box__name
                  = student.name
                .student-box__school
                  .student-box__school__grade
                    = "#{student.school.name}#{student.grade.name}年"
                  .student-box__school__subject
                    = student.subject.name
              .student-edit-delete
                = link_to edit_student_path(student) do
                  = icon("far", "edit", class: "icon")
                = link_to student_path(student), method: 'delete', data: { confirm: '削除しますか？' } do
                  = icon("fas", "trash-alt", class: "icon")
    - else
      .mypage-main__school
        .mypage-main-school-name
          小学生
        .student-container
          - current_user.students.each do |student|
            - if student.school.id == 1
              .student-container__box.elementary-school
                = link_to student_reports_path(student) do
                  .student-box__name
                    = student.name
                  .student-box__school
                    .student-box__school__grade
                      = "#{student.school.name}#{student.grade.name}年"
                    .student-box__school__subject
                      = student.subject.name
                .student-edit-delete
                  = link_to edit_student_path(student) do
                    = icon("far", "edit", class: "icon")
                  = link_to student_path(student), method: 'delete', data: { confirm: '削除しますか？' } do
                    = icon("fas", "trash-alt", class: "icon")
      .mypage-main__school
        .mypage-main-school-name
          中学生
        .student-container
          - current_user.students.each do |student|
            - if student.school.id == 2
              .student-container__box.junior-high-school
                = link_to student_reports_path(student) do
                  .student-box__name
                    = student.name
                  .student-box__school
                    .student-box__school__grade
                      = "#{student.school.name}#{student.grade.name}年"
                    .student-box__school__subject
                      = student.subject.name
                .student-edit-delete
                  = link_to edit_student_path(student) do
                    = icon("far", "edit", class: "icon")
                  = link_to student_path(student), method: 'delete', data: { confirm: '削除しますか？' } do
                    = icon("fas", "trash-alt", class: "icon")
      .mypage-main__school
        .mypage-main-school-name
          高校生
        .student-container
          - current_user.students.each do |student|
            - if student.school.id == 3
              .student-container__box.high-school
                = link_to student_reports_path(student) do
                  .student-box__name
                    = student.name
                  .student-box__school
                    .student-box__school__grade
                      = "#{student.school.name}#{student.grade.name}年"
                    .student-box__school__subject
                      = student.subject.name
                .student-edit-delete
                  = link_to edit_student_path(student) do
                    = icon("far", "edit", class: "icon")
                  = link_to student_path(student), method: 'delete', data: { confirm: '削除しますか？' } do
                    = icon("fas", "trash-alt", class: "icon")
  = render "footer"