.mypage-wrapper
  = render "header"
  = current_user.last_name + "でログイン中"
  %br/
  - current_user.students.each do |student|
    = link_to reports_path do
      = student.name
      = student.school.name
      = student.grade.name
      = student.subject.name