.report-wrapper
  = render "shared/header-simple"
  = render 'shared/second-header'
  = render "create-report-btn"
  .report-main
    - @reports.each do |report|
      .report-main__container

        .report-main__container__left
          .report-main__container__left__first
            .report-main__container__left__first__date
              .report-main__container__left__first__date__ymd
                = "#{report.year}年"
              .report-main__container__left__first__date__ymd
                = "#{report.month}月"
              .report-main__container__left__first__date__ymd
                = "#{report.day}日"
            .report-main__container__left__first__teacher
              担当：
              .report-main__container__left__first__teacher__name
                = report.teacher
            .report-main__container__left__first__confirmation
              確認：
              .report-main__container__left__first__confirmation__name
                = report.confirmation
          .report-main__container__left__second
            .report-main__container__left__second__unit-name
              単元名：
            .report-main__container__left__second__unit-field
              = report.unit
          .report-main__container__left__third
            .report-main__container__left__third__homework-rate
              宿題実施率：
              .report-main__container__left__third__homework-rate__text
                = "#{report.homework_rate}%"
            .report-main__container__left__third__mini_test
              .report-main__container__left__third__mini_test__name
                小テスト：
                .report-main__container__left__third__mini_test__name__text
                  = report.mini_test
              .report-main__container__left__third__mini_test__rate
                正答率：
                .report-main__container__left__third__mini_test__rate__text
                  = "#{report.mini_test_rate}%"
          .report-main__container__left__fourth
            .report-main__container__left__fourth__name
              本日の内容
            .report-main__container__left__fourth__content
              = simple_format(report.content)

        .report-main__container__right
          .report-main__container__right__first
            .report-main__container__right__first__name
              宿題
            .report-main__container__right__first__homework
              = simple_format(report.homework)
          .report-main__container__right__second
            .report-main__container__right__second__next-class
              .report-main__container__right__second__next-class__name
                次回授業
              .report-main__container__right__second__next-class__date
                = report.next_class
            .report-main__container__right__second__btn
              .report-main__container__right__second__btn__edit
                = link_to edit_student_report_path(@student, report) do
                  編集
              .report-main__container__right__second__btn__delete
                = link_to student_report_path(@student, report), method: 'delete', data: { confirm: '削除しますか？' }  do
                  削除
    
        .comment-wrapper
          .comment-main
            .comment-main__top
              .comment-main__top__title
                ご家庭より
              .comment-main__top__form
                = form_for [@student, report, @comment] do |f|
                  .comment-main__top__form__text
                    = f.text_area :text, class: 'comment-form'
                  .comment-main__top__form__submit
                    = f.submit 'コメントする', class: 'comment-submit-btn'
            .comment-main__bottom
              .comment-main__bottom__title
                コメント一覧
              .comment-main__bottom__box
                - report.comments.each do |comment|
                  .comment-main__bottom__box__text
                    = simple_format(comment.text)
                    = link_to student_report_comment_path(@student, report, comment), method: 'delete', data: { confirm: '削除しますか？' } do
                      = icon("fas", "trash-alt", class: "icon")
              

  = render "mypages/footer"